/* Hide text off screen */
.Projects {
  padding-top: 100px;
  margin: 0;
  font-weight: normal;
  font-family: "graphik-light", Arial, Helvetica, sans-serif;
  line-height: 192%;
  font-size: 34px;
  font-size: 2.125rem;
  max-width: 1020px;
  margin: 0 auto; }
