/* Hide text off screen */
.Menu {
  position: absolute;
  width: 100%; }
  .Menu a {
    cursor: pointer; }

.Menu-inner {
  padding: 0 2.5rem;
  max-width: 1020px;
  margin: 0 auto; }

.Burger {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  right: 0;
  top: 2.125rem;
  height: 50px;
  width: 50px;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99); }

.Burger-container {
  width: 100%;
  position: relative; }

.Burger-item {
  position: absolute;
  height: 50px;
  width: 50px;
  transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
  .Burger-item > span {
    transition: background-color 0.2s ease-in, transform 0.2s ease-in;
    display: block;
    height: 2px;
    width: 100%;
    background-color: #1f1f1f; }
  .Burger-item:nth-child(1) > span {
    transform: translateY(-8px);
    position: absolute;
    top: 25px; }
  .Burger-item:nth-child(2) > span {
    transform: translateY(8px);
    position: absolute;
    top: 25px; }

.is-dark .Burger-item > span {
  background-color: #ffffff; }

.Nav {
  padding-top: 2.875rem;
  max-width: 1020px;
  margin: 0 auto; }
  .Nav li {
    display: inline-block;
    margin-left: 2.1875rem; }
    @media screen and (max-width: 600px) {
      .Nav li {
        display: block; } }
  .Nav a {
    color: #ffffff;
    font-weight: normal;
    font-family: "graphik-light", Arial, Helvetica, sans-serif;
    line-height: 4.0625rem;
    font-size: 28px;
    font-size: 1.75rem; }
    .Nav a:first-child {
      margin-left: 0; }
  .Nav .Nav-outline {
    border-radius: 8px;
    padding: 0.875rem 1.625rem;
    border: 1px solid #ffffff;
    text-decoration: none;
    transition: all 0.3s ease-in-out; }
    .Nav .Nav-outline:hover {
      background-color: #ffffff;
      color: #1f1f1f;
      border-color: #ffffff; }

.is-menu-open .Burger {
  transform: rotate(90deg); }

.is-menu-open .Burger-item > span {
  background-color: #ffffff; }

.is-menu-open .Burger-item:nth-child(1) {
  transform: rotate(45deg); }
  .is-menu-open .Burger-item:nth-child(1) > span {
    transform: translateY(0px); }

.is-menu-open .Burger-item:nth-child(2) {
  transform: rotate(-45deg); }
  .is-menu-open .Burger-item:nth-child(2) > span {
    transform: translateY(0px); }
