@import 'variables.scss';
@import 'mixins.scss';

@font-face {
  font-family: "graphik-light";
  src: url('/assets/fonts/graphik-light.ttf') format('truetype'),
      url('/assets/fonts/graphik-light.otf') format('otf'),
      url('/assets/fonts/graphik-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "graphik-medium";
  src: url('/assets/fonts/graphik-medium.ttf') format('truetype'),
      url('/assets/fonts/graphik-medium.otf') format('otf'),
      url('/assets/fonts/graphik-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "mydevicons";
  src: url('/assets/fonts/mydevicons.ttf') format('truetype'),
      url('/assets/fonts/mydevicons.eot') format('eot'),
      url('/assets/fonts/mydevicons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


html {
  color: $black;
  font-family: 'graphik-light', Arial, Helvetica, sans-serif;
  background-color:$black;
  @media screen and (max-width: $cat) {
    font-size: 12px;
  }
}

html, body{
  height:100%;
}

body {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include font-body();
}

h1, h2, h3, h4, h5, h6, h7 {
  font-weight: normal;
  font-family: 'graphik-medium', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

ul {
  margin:0;
  padding:0;
  list-style: none;
}

// utilities classes
.u-fullHeight{
  height:100%;
  display: block;
}

.u-container{
  @include container();
}

.u-side-pad {
  @include side-pad();
}

// main wrappers
#root{
  height:100%;
}

.MasterContainer{
  height:100%;
  transition: all 0.3s ease-in-out;
}

.Page {
  min-height: 100%;
  transition: transform 0.3s ease-in-out, opacity 0.8s ease-in-out, background-color 0.8s ease-in-out;
  background-color: #ffffff;   
}

.Page-block{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: 0 auto;
}

// mods
.is-menu-open {
  overflow: hidden; // covers some of the margins
  .Page {
    height: 100%;
    opacity: 0.58;
    transform: scale(0.9) translateY(120px);
    @media screen and (max-width: $cat) {
      transform: scale(0.9) translateY(180px);
    }
  }
}

.is-dark {
  .Page {
    color: #ffffff;
    background-color: $black;
  }
}
