$font-heading: 'graphik-medium', Arial, Helvetica, sans-serif;
$font-body: 'graphik-light', Arial, Helvetica, sans-serif;
$font-icons: 'mydevicons', Arial, Helvetica, sans-serif;

$font-size-body: 28px;
$font-size-title: 34px;
$body-width-max: 1020px;


$black: #1f1f1f;
